body{
    background-color: rgb(0, 0, 0);
}

h2{
    font-size: 4.2vh;
}
#container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
}

#btn{
    margin-top: 4vh;
    border: none;
    background-color: rgba(29, 164, 164, 0.282);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 10px 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.1s;
}

#btn:hover{
    background-color: rgb(87, 87, 87);
    border: 2px solid white;
    color: wheat;
}

#btn:active{
    background-color: rgb(158, 158, 158);
    border: 2px solid rgba(0, 0, 0, 0.479);
    color: rgba(255, 255, 255, 0.772);
}


#content{
    margin: auto;
    padding: 4vh;
    font-size: 1.2 rem;
    max-width: 700px;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(245, 222, 179, 0.96);
}


.para{
    font-weight: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    color: white;
}


.madewith{
    color:wheat;
    font-family: monospace;
    padding-top: 46vh;
}